<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Users</h1>
    <a href="/">Back to Movie Review</a>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Is Admin</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.is_admin ? 'Yes' : 'No' %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>